[Unit]
Description=Docker Volume Driver for lvm volumes
Documentation=https://github.com/shishir-a412ed/docker-lvm-driver
Before=docker.service

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/docker-lvm-volumegroup
ExecStart=/usr/bin/docker-lvm-plugin -debug

[Install]
WantedBy=multi-user.target


